#principal {
  margin-left: 20px;
  margin-right: 20px;
}

#filter {
  display: flex;
}

#users {
  display: flex;
}

.content {
  padding: 20px;
  background-color: lightgrey;
  border-color: grey;
  margin: 20px;
  flex-direction: row;
}

.input {
  margin-right: 20px;
}

img {
  border-radius: 20px;
  margin-right: 5px;
}
